{% include "header.html" %}
{% extends 'bootstrap/base.html' %}

*{% block styles %}
  {{ super() }}
  <link href="https://fonts.googleapis.com/css2?family=Grandiflora+One&family=Poppins:ital,wght@0,300;0,600;1,500&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://kit.fontawesome.com/d8eba526f2.js" crossorigin="anonymous"></script>
{% endblock %}*

{% block title %}Cafes in the town{% endblock %}

{% block content %}
<div class="container">
  <h2 class="description">Here you get the best cup of coffee...</h2>
</div>

<div class="container container-button text-right add">
  <a id="link" href="{{ url_for('add_cafe') }}" class="button">Add Cafe</a>
</div>
<hr>
<div class="container">
<div class="row">
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1 row-col-xs-1 justify-content-center">
    {% for cafe in cafes %}
    <div class="card" style="width: 28rem; height: 35rem">
      <div class="front" style="background-image: url('{{cafe.img_url}}');">
          <p class="card-name">{{ cafe.name }}</p>
      </div>
      <div class="back">
        <div class="back-in-column">
          <div class="rating">
            {% if cafe.rating=='5/5': %}
            <i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i>
            {% endif %}
            {% if cafe.rating=='4/5': %}
            <i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fa-regular fa-star star"></i>
            {% endif %}
            {% if cafe.rating=='3/5': %}
            <i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fa-regular fa-star star"></i><i class="fa-regular fa-star star"></i>
            {% endif %}
            {% if cafe.rating=='2/5': %}
            <i class="fas fa-star star"></i><i class="fas fa-star star"></i><i class="fa-regular fa-star star"></i><i class="fa-regular fa-star star"></i><i class="fa-regular fa-star star"></i>
            {% endif %}
            {% if cafe.rating=='1/5': %}
            <i class="fas fa-star star"></i><i class="fa-regular fa-star star"></i><i class="fa-regular fa-star star"></i><i class="fa-regular fa-star star"></i><i class="fa-regular fa-star star"></i>
            {% endif %}
          </div>
          <div class="title">
            {{cafe.name}}
          </div>
          <div class="location">
            <a class="loc" href={{cafe.map_url}}>{{cafe.location}}</a>
          </div>
          <div class="ikona">
              <p><i class="fa-sharp fa-solid fa-mug-hot"></i>   {{cafe.coffee_price}}</p>
              <p><i class="fa-sharp fa-solid fa-chair"></i>    {{cafe.seats}}</p>
          </div>
          <div>
          {% if cafe.has_wifi=='Yes': %}
            <p><i class="fa-solid fa-wifi"></i></p>
          {% endif %}
          {% if cafe.has_sockets=='Yes': %}
            <p><i class="fa-sharp fa-solid fa-plug"></i></p>
          {% endif %}
          {% if cafe.loud_music=='Yes': %}
            <p><i class="fa-solid fa-music"></i></p>
          {% endif %}
          </div>
          <div id="delete-item">
          <a href="{{url_for('delete_cafe', cafe_id=cafe.id) }}">delete</a>
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
    </div>
  </div>
</div>


<br>
<br>
{% include "footer.html" %}
{% endblock %}



